// Roygbiv colores + {
    $rojo: #FF0000;
    $naranja: #FF7F00;
    $amarillo: #FFFF00;
    $verde: #00FF00;
    $azul: #0000FF;
    $índigo: #4B0082;
    $violeta: #9400D3;
    $blanco: #FFFFFF;
    $gris: #808080;
    $negro: #222222;
    $reactCyan: #5ED2F2;
// }

// Hue combos
// fresh & bright {
    $petal: #F98866;
    $poppy: #FF420E;
    $stem: #80BD9E;
    $springGreen: #89DA59;
// }

// subdued & professional {
    $mist: #90AFC5;
    $stone: #336B87;
    $shadow: #2A31A2;
    $autumnFoliage: #763626;
// }

// dark & earthy {
    $crevice: #46211A;
    $cloudShower: #693D3D;
    $desert: #BA5536;
    $redClay: #A43820;
// }

// crisp & dramatic {
    $thunderCloud: #505160;
    $waterfall: #68829E;
    $moss: #AEBD38;
    $meadow: #598234;
// }

// bright & tropcial {
    $hotPink: #F52449;
    $bubbleGum: #FA6775;
    $pollen: #FFD64D;
    $chartreuse: #9BC01C;
// }